@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'poppins', sans-serif;
}


#banner{
    position: relative;
    width: 100%;
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url("/img/richard-biros-pXFDctQsUys-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
   
}
 .content{
   width: 50%;
    text-align: center;
}
#banner .content h2{
    font-size: 3em;
    color: #FFF;
}
#banner .content p{
    font-size: 1em;
    color: #FFF;
}
.btn{
    font-size: 1em;
    color: rgb(0, 0, 0);
    background: hsl(51, 100%, 50%);
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}
.btn:hover{
    letter-spacing: 6px;
}
.nav{
    margin-left: 25%;
}
.sect2 h2{
    display: flex;
    justify-content: center;
}


.cars .card {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    
}

.bg-light{
    background: #45526e !important;
}
.logo{
  margin-left: 3%;
  font-size: 2em;
 color: white !important;
}
.logo span{
    color: hsl(51, 100%, 50%) !important;
}
.nav-link{
    color: white !important; 
}
.nav-link.active{
    color:  hsl(51, 100%, 50%) !important; 
}
.menu{
    color: white;
}
.navbar-light .navbar-toggler {
  
    border-color: rgba(255, 255, 255);
}